

.talia dir{
/*position: relative;*/
    }

.talia {
	/*
	
	width: auto;*/
	}

.kartaM{		/*kolor dla kart matematycznych L*/
    /*margin-top: 24px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e6e6e6;
width: 25.5%;*/
	border: 5px solid #402900;
	background: #78E889;
	margin: 12px;
	padding: 20px;
	border-radius: 10px;
	width: 25.5%;
	float: left;

	height: 450px;
    }
.kartaM p	{    font-size: 14px;	text-align: left;    }
.kartaM p a{    font-size: 15px;    text-decoration:none;}

.kartaL{		/*kolor dla kart języków programowania L*/
    /*margin-top: 24px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e6e6e6;
width: 25.5%;*/
	border: 5px solid #402900;
	background: #91CCFF;
	margin: 12px;
	padding: 20px;
	border-radius: 10px;
	width: 25.5%;
	float: left;

	height: 450px;
    }
.kartaL p	{    font-size: 14px;	text-align: left;    }
.kartaL p a{    font-size: 15px;    text-decoration:none;}

.kartaA{		/*kolor dla kart astronomicznych L*/
    /*margin-top: 24px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e6e6e6;
width: 25.5%;*/
	border: 5px solid #402900;
	background: #CA78E8;
	margin: 12px;
	padding: 20px;
	border-radius: 10px;
	width: 25.5%;
	float: left;

	height: 450px;
    }
.kartaA p	{    font-size: 14px;	text-align: left;    }
.kartaA p a{    font-size: 15px;    text-decoration:none;}

.kartaP{		/*kolor dla kart astronomicznych L*/
    /*margin-top: 24px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e6e6e6;*/
	border: 5px solid #402900;
	background: #FFF091;
	margin: 12px;
	padding: 20px;
	border-radius: 10px;
	width: 25.5%;
	float: left;
	height: 450px;
    }
.kartaP p	{    font-size: 14px;	text-align: left;    }
.kartaP p a{    font-size: 15px;    text-decoration:none;}

.kartaZ{		/*kolor dla kart astronomicznych L*/
    /*margin-top: 24px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e6e6e6;
width: 25.5%;*/
	border: 5px solid #402900;
	background: #FFA586;
	margin: 12px;
	padding: 20px;
	border-radius: 10px;
	width: 25.5%;
	float: left;

	height: 450px;
    }
.kartaZ p	{    font-size: 14px;	text-align: left;    }
.kartaZ p a{    font-size: 15px;    text-decoration:none;}


h2.titleKard {
	font-weight:bold;
	font-size: 17px;
	/*margin-bottom: 20px;*/
	width:77%;
	float: left;
    }
a.backKard {
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	text-shadow: -3px 6px 4px #E1EBF7;
	float: right;
	background: linear-gradient(180deg, rgba(99, 184, 238, 0.11) 5%, rgba(70, 120, 207, 0.71) 100%);
	border-radius: 40px; 
	border: 2px solid #4376BF;
	padding: 2px 8px;
	box-shadow: inset 1px 1px 5px 0px #3CA5E6;
    cursor: pointer;
	position: relative;
	top:  -8px;
    }

#ukladKart {
    /*width:100%;
	float: left;
	background-color: white;
position: relative;
background-size: 750px;*/
	width:30%;
	min-height:30%;
	border-radius: 10px;

	margin-top: 40px;
	}
#ukladKart img{
    border-radius: 10px;

	}

#katraEulera 	  {width:250px;	margin-top: 15px; background: url('../images/projekty/Euler.png'); height:250px;	border-radius: 10px; }
#katraEulera:hover {width:250px; background: url('../images/projekty/Euler.gif'); height:250px;	border-radius: 10px; }


#katraBorkow 	  {width:250px;	margin-top: 15px; background: url('../images/projekty/elipob.png'); height:250px;	border-radius: 10px; }
#katraBorkow:hover {width:250px; background: url('../images/projekty/elipOb.png'); height:250px;	border-radius: 10px; }


